https://towardsdatascience.com/pyspark-mysql-tutorial-fa3f7c26dc7

https://www.projectpro.io/recipes/save-dataframe-mysql-pyspark

docker exec -it mysql /bin/bash

!python3 -m pip show pandas

In [1]:
import pandas as pd

In [2]:
red_wines = pd.read_csv("winequality-red.csv", sep=";")

In [3]:
red_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
red_wines["is_red"] = 1

In [5]:
red_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1

In [6]:
white_wines = pd.read_csv("winequality-white.csv", sep=";")

In [7]:
white_wines["is_red"] = 0

In [8]:
white_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [9]:
all_wines = pd.concat([red_wines, white_wines])

In [10]:
all_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [11]:
!apt-get install -y python3-setuptools

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-setuptools is already the newest version (39.0.1-2).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

In [12]:
!python3 -m pip install --user mysql-connector

Requirement already satisfied: mysql-connector in /root/.local/lib/python3.6/site-packages (2.2.9)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [13]:
import mysql.connector

In [14]:
db_connection = mysql.connector.connect(host='mysql', user="root", password="go2team", auth_plugin='mysql_native_password')

In [17]:
db_cursor = db_connection.cursor() 
db_cursor.execute("CREATE DATABASE TestDB;") 
db_cursor.execute("USE TestDB;")

In [18]:
db_cursor.execute("CREATE TABLE Wines(fixed_acidity FLOAT, volatile_acidity FLOAT, \
                  citric_acid FLOAT, residual_sugar FLOAT, chlorides FLOAT, \
                  free_so2 FLOAT, total_so2 FLOAT, density FLOAT, pH FLOAT, \
                  sulphates FLOAT, alcohol FLOAT, quality INT, is_red INT);")

ProgrammingError: 1050 (42S01): Table 'wines' already exists

In [19]:
wine_tuples = list(all_wines.itertuples(index=False, name=None)) 
wine_tuples_string = ",".join(["(" + ",".join([str(w) for w in wt]) + ")" for wt in wine_tuples])

In [ ]:
db_cursor.execute("USE TestDB;")
db_cursor.execute("INSERT INTO Wines(fixed_acidity, volatile_acidity, citric_acid,residual_sugar, chlorides, free_so2, total_so2, density, pH, sulphates, alcohol, quality, is_red) VALUES " + wine_tuples_string + ";")
db_cursor.execute("FLUSH TABLES;")

# Accessing MySQL with PySpark

In [1]:
spark

In [2]:
spark.sparkContext._conf.getAll()

[('spark.eventLog.enabled', 'true'),
 ('spark.eventLog.dir', 'hdfs://master:9000/spark-logs'),
 ('spark.sql.repl.eagerEval.enabled', 'true'),
 ('spark.history.ui.port', '18080'),
 ('spark.master', 'spark://master:7077'),
 ('spark.driver.host', 'master'),
 ('spark.app.id', 'app-20220310122133-0004'),
 ('spark.sql.warehouse.dir', 'hdfs://master:9000/apps/hive/warehouse'),
 ('spark.history.fs.logDirectory', 'hdfs://master:9000/spark-logs'),
 ('spark.executor.id', 'driver'),
 ('spark.app.startTime', '1646914889205'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.yarn.jars', 'hdfs:///spark-jars/*.jar'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.executor.memory', '1g'),
 ('spark.rdd.compress', 'True'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.cores', '1'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '34475'),
 ('spark.yarn.historyServer.address', 'master:18080'),
 ('spark.history.fs.update.interval', '10s'),
 ('spark.driver.extraJavaOptions', '-Dderby.system.home=/tmp/derby/'),
 ('spark.ui.showConsoleProgress', 'true')]

In [3]:
spark.stop()

In [ ]:
! wget https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.22/mysql-connector-java-8.0.22.jar

In [6]:
! pwd

/root/workspace/2_MySQL

In [7]:
! ls -al

total 2744
drwxr-xr-x. 3 root root     190 Mar 10 12:23  .
drwxr-xr-x. 8 root root     140 Mar 10 11:47  ..
drwxr-xr-x. 2 root root      55 Mar 10 11:49  .ipynb_checkpoints
-rw-r--r--. 1 root root   58074 Mar 10 12:23 'PySpark + MySQL Tutorial.ipynb'
-rw-r--r--. 1 root root 2389216 Mar  8 09:17  mysql-connector-java-8.0.22.jar
-rw-r--r--. 1 root root   84199 Mar  3 02:52  winequality-red.csv
-rw-r--r--. 1 root root  264426 Mar  3 02:52  winequality-white.csv
-rw-r--r--. 1 root root    3305 Mar  3 02:52  winequality.names

In [5]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder\
    .config("spark.jars", "/root/workspace/mysql-connector-java-8.0.22.jar") \
    .master("spark://master:7077")\
    .appName("PySpark_MySQL_test")\
    .getOrCreate()

In [9]:
spark

In [10]:
spark.sparkContext._conf.getAll()

[('spark.eventLog.enabled', 'true'),
 ('spark.eventLog.dir', 'hdfs://master:9000/spark-logs'),
 ('spark.app.startTime', '1646915169943'),
 ('spark.sql.repl.eagerEval.enabled', 'true'),
 ('spark.app.id', 'app-20220310122610-0005'),
 ('spark.history.ui.port', '18080'),
 ('spark.master', 'spark://master:7077'),
 ('spark.driver.host', 'master'),
 ('spark.jars', '/root/workspace/mysql-connector-java-8.0.22.jar'),
 ('spark.sql.warehouse.dir', 'hdfs://master:9000/apps/hive/warehouse'),
 ('spark.history.fs.logDirectory', 'hdfs://master:9000/spark-logs'),
 ('spark.executor.id', 'driver'),
 ('spark.yarn.jars', 'hdfs:///spark-jars/*.jar'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.executor.memory', '1g'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'PySpark_MySQL_test'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.cores', '1'),
 ('spark.submit.deployMode', 'client'),
 ('spark.yarn.historyServer.address', 'master:18080'),
 ('spark.history.fs.update.interval', '10s'),
 ('spark.driver.extraJavaOptions', '-Dderby.system.home=/tmp/derby/'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.port', '34155')]

In [11]:
wine_df = spark.read.format("jdbc").option("url", "jdbc:mysql://mysql:3306/TestDB") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "Wines") \
    .option("user", "root").option("password", "go2team").load()

In [12]:
wine_df

+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
|fixed_acidity|volatile_acidity|citric_acid|residual_sugar|chlorides|free_so2|total_so2|density|  pH|sulphates|alcohol|quality|is_red|
+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
|          7.4|             0.7|        0.0|           1.9|    0.076|    11.0|     34.0| 0.9978|3.51|     0.56|    9.4|      5|     1|
|          7.8|            0.88|        0.0|           2.6|    0.098|    25.0|     67.0| 0.9968| 3.2|     0.68|    9.8|      5|     1|
|          7.8|            0.76|       0.04|           2.3|    0.092|    15.0|     54.0|  0.997|3.26|     0.65|    9.8|      5|     1|
|         11.2|            0.28|       0.56|           1.9|    0.075|    17.0|     60.0|  0.998|3.16|     0.58|    9.8|      6|     1|
|          7.4|             0.7|        0.0|           1.9|    0.076|    11.0|     34.0| 0.9978|3.51|     0.56|    9.4|      5|     1|
|          7.4|            0.66|        0.0|           1.8|    0.075|    13.0|     40.0| 0.9978|3.51|     0.56|    9.4|      5|     1|
|          7.9|             0.6|       0.06|           1.6|    0.069|    15.0|     59.0| 0.9964| 3.3|     0.46|    9.4|      5|     1|
|          7.3|            0.65|        0.0|           1.2|    0.065|    15.0|     21.0| 0.9946|3.39|     0.47|   10.0|      7|     1|
|          7.8|            0.58|       0.02|           2.0|    0.073|     9.0|     18.0| 0.9968|3.36|     0.57|    9.5|      7|     1|
|          7.5|             0.5|       0.36|           6.1|    0.071|    17.0|    102.0| 0.9978|3.35|      0.8|   10.5|      5|     1|
|          6.7|            0.58|       0.08|           1.8|    0.097|    15.0|     65.0| 0.9959|3.28|     0.54|    9.2|      5|     1|
|          7.5|             0.5|       0.36|           6.1|    0.071|    17.0|    102.0| 0.9978|3.35|      0.8|   10.5|      5|     1|
|          5.6|           0.615|        0.0|           1.6|    0.089|    16.0|     59.0| 0.9943|3.58|     0.52|    9.9|      5|     1|
|          7.8|            0.61|       0.29|           1.6|    0.114|     9.0|     29.0| 0.9974|3.26|     1.56|    9.1|      5|     1|
|          8.9|            0.62|       0.18|           3.8|    0.176|    52.0|    145.0| 0.9986|3.16|     0.88|    9.2|      5|     1|
|          8.9|            0.62|       0.19|           3.9|     0.17|    51.0|    148.0| 0.9986|3.17|     0.93|    9.2|      5|     1|
|          8.5|            0.28|       0.56|           1.8|    0.092|    35.0|    103.0| 0.9969| 3.3|     0.75|   10.5|      7|     1|
|          8.1|            0.56|       0.28|           1.7|    0.368|    16.0|     56.0| 0.9968|3.11|     1.28|    9.3|      5|     1|
|          7.4|            0.59|       0.08|           4.4|    0.086|     6.0|     29.0| 0.9974|3.38|      0.5|    9.0|      4|     1|
|          7.9|            0.32|       0.51|           1.8|    0.341|    17.0|     56.0| 0.9969|3.04|     1.08|    9.2|      6|     1|
+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
only showing top 20 rows

In [13]:
from pyspark.ml.feature import VectorAssembler

train_df, test_df = wine_df.randomSplit([.8, .2], seed=12345)
predictors = ["fixed_acidity", "volatile_acidity", "citric_acid", "residual_sugar", "chlorides",
              "free_so2", "total_so2", "density", "pH", "sulphates", "alcohol"]
vec_assembler = VectorAssembler(inputCols=predictors, outputCol="features")
vec_train_df = vec_assembler.transform(train_df)
vec_train_df.select("features", "is_red").show(5)

+--------------------+------+
|            features|is_red|
+--------------------+------+
|[3.8,0.31,0.02,11...|     0|
|[3.9,0.225,0.4,4....|     0|
|[4.2,0.17,0.36,1....|     0|
|[4.2,0.215,0.23,5...|     0|
|[4.4,0.32,0.39,4....|     0|
+--------------------+------+
only showing top 5 rows

In [14]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(labelCol="is_red", featuresCol="features")
lr_model = lr.fit(vec_train_df)
vec_test_df = vec_assembler.transform(test_df)
predictions = lr_model.transform(vec_test_df)

In [15]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[vec_assembler, lr])
pipeline_model = pipeline.fit(train_df)
predictions = pipeline_model.transform(test_df)

In [16]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

evaluator = BinaryClassificationEvaluator(labelCol="is_red")
evaluator.evaluate(predictions)

0.9918152444721234